@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #191919;
  --accent: #4F46E5;
  --accent-hover: #4338CA;
  --accent-light: #EEF2FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #EDEDED;
    --accent: #70B5F9;
    --accent-hover: #9CCBFC;
    --accent-light: #1B2838;
  }
}

body {
  color: theme("colors.ink");
  background: theme("colors.bg");
}

@layer base {
  * {
    border-color: theme("colors.border");
  }
}
